a:link{
    color: red;
}
a:visited{
    background-color: #ccc;
}
a:hover{
    background-color: blue;
}

a:active{
    color: yellow;
}

input:focus{
    color: blueviolet;
}

button:hover{
    color:aqua;
}

button:active{
    color: lightgreen;
}
